*{
	margin: 0;
	padding: 0;
}
.background{
	background-size: 100%;
}
.wrapper{
	position: relative;
	width: 1000px; 
	background-color: #ffffff;
	margin: 0 auto;
	box-shadow: 7px 7px 5px rgba(0,0,0,0.8);
}
.logo{
	float: left;
	position: absolute;
}
.geo{
	position: absolute;
	top: 120px;
	left: 80px;
	font-size: 12px;
	font-family: "Tahoma";
	color: #5fa5bb;
}
.contact{
	float: right;
	width: 13%;
	list-style: none;
	font-size: 12px;
	font-family: "Tahoma";
	color: #5fa5bb;
	padding: 10px 30px 0px 0px;
}
.countries{
	float: right;
	width: 40%;
	list-style: none;
	clear: right;
	padding: 30px 10px 0px 0px;
}
.countries li img{
	float: left;
	padding: 0px 20px 20px 0px;
}
.India{
	position: absolute;
	top: 142px;
	right: 372px;
	font-size: 10px;
	font-family: "Tahoma";
	color: #5fa5bb;
}
.Nepal{
	position: absolute;
	top: 142px;
	right: 307px;
	font-size: 10px;
	font-family: "Tahoma";
	color: #5fa5bb;
}
.Tibet{
	position: absolute;
	top: 142px;
	right: 248px;
	font-size: 10px;
	font-family: "Tahoma";
	color: #5fa5bb;
}
.Bhutan{
	position: absolute;
	top: 142px;
	right: 186px;
	font-size: 10px;
	font-family: "Tahoma";
	color: #5fa5bb;
}
.Sri-Lanka{
	position: absolute;
	top: 142px;
	right: 110px;
	font-size: 10px;
	font-family: "Tahoma";
	color: #5fa5bb;
}
.maldives{
	position: absolute;
	top: 142px;
	right: 43px;
	font-size: 10px;
	font-family: "Tahoma";
	color: #5fa5bb;
}
.photo{
	display: block;
	clear: both;
}
menu{
	height: 27px;
	width: 1000px;
	font-size: 14px;
	font-family: "Tahoma";
	background-color: #303030;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}
ul{
	display: block;
	list-style: none;
}
ul:after{
	display: block;
    content: '';
    clear: both;
    float: none;
}
ul.main_menu > li{
	float: left;
	position: relative;
}
ul.main_menu > li > a{
	display: block;
	color: white;
    text-decoration: none;
    padding: 3px 34px 7px 40px;
}
ul.sub_menu{
	display: none;
    position: absolute;
    width: 160px;
    top: 26px;
    left: 0;
    background-color: #303030;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    border-top: 1px solid black;
}
ul.sub_menu > li{
    display: block;
}   
ul.sub_menu > li > a{
	display: block;
    padding: 10px;
    color: white;
    background-color: #303030;
    text-decoration: none;
}
ul.main_menu > li:hover > ul.sub_menu{
    display: block;
}
.container{
	margin-top: 5px;
	background: #edeef0;
	width: 1000px;
	overflow: hidden;
}
.sidebarleft{
	text-align: center;
	float: left;
	width: 200px;
}
.content{
	float: left;
	background: white;
	width: 595px;
	margin:0 auto;
	border-right: 1px solid black;
	border-left: 1px solid black;
	color: white;
}
.sidebarright{
	text-align: center;
	float: left;
	width: 200px;
}
.Copyright{
	clear: both;
	margin-top: 10px;
	text-align: center;
	font-size: 14px;
	font-family: "Tahoma";
	color: white;
}